body {
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  background-color: #fdffcd93;
}

/* Navigation Section */

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: linear-gradient(
    179.1deg,
    rgb(43, 170, 96) 2.3%,
    rgb(129, 204, 104) 98.3%
  );
}

svg {
  width: 25px;
  color: #fff;
}

.nav-title {
  color: #fff;
  font-size: 400;
  padding-left: 0.4em;
  text-transform: lowercase;
}

/* Blog Section */

.content-container {
  margin: 2em;
  display: flex;
}

.post-img {
  margin: 0.5em;
  width: 40%;
  border-radius: 8px;
}

.location {
  color: #f66e6e;
  width: 12px;
}

.top-section {
  margin: 1em;
}

.city {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.6em;
  font-weight: light;
  padding-right: 1em;
}

.gmaps-link {
  text-decoration: underline;
  color: rgba(128, 128, 128, 0.726);
  font-size: 0.6rem;
  letter-spacing: 2px;
}
