body {
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  background-color: #fdffcd93;
  /* min-width: 375px; */
}

/* Navigation Section */

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: linear-gradient(
    179.1deg,
    rgb(43, 170, 96) 2.3%,
    rgb(129, 204, 104) 98.3%
  );
  box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
}

svg {
  width: 25px;
  color: #fff;
}

.nav-title {
  color: #fff;
  font-size: 700;
  font-weight: lighter;
  padding-left: 0.4em;
  text-transform: capitalize;
}

/* Blog Section */
.blog-content {
  width: 80%;
  /* display: flex; */
  /* flex-direction: row; */
}

.content-container {
  margin: 0 auto;
  margin: 1.5em;
  display: flex;
  max-width: 600px;
}

.post-img {
  margin-bottom: 0.5em;
  width: 150px;
  border-radius: 8px;
  transition: all 1s ease-out;
}

.post-img:hover {
  transform: scale(1.1);
}

.post-title {
  margin: 0 0 0.5em 0;
}

.location {
  color: #f66e6e;
  width: 12px;
}
/* Containers */

.top-section {
  margin: 0.7em 0.7em 0.2em 0.7em;
  width: 100%;
}

.bottom-section {
  margin: 0 1em;
  width: 100%;
}

.city {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.6em;
  font-weight: light;
  padding-right: 0.5em;
}

.gmaps-link {
  text-decoration: underline;
  color: rgba(128, 128, 128, 0.726);
  font-size: 0.5rem;
  letter-spacing: 1px;
  color: #52b964;
}

.duration {
  font-size: 0.7rem;
  font-weight: bold;
}

p {
  margin: 0.3em 0;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 19px;
}

hr {
  border-bottom: 1.5px dashed #52b964;
  border-top: none;
  width: 95%;
}

/* Media Queries */
@media (min-width: 500px) {
  body {
    margin: 0 auto;
  }

  .post-img {
    width: 250px;
  }

  .bottom-section {
    width: 100%;
  }

  p {
    margin: 0.3em 0;
    font-weight: lighter;
    font-size: 1rem;
    line-height: 30px;
  }

  .bottom-section {
    width: 400px;
  }

  .gmaps-link {
    font-size: 0.8rem;
  }

  .post-title {
    font-size: 2rem;
  }

  .city {
    font-size: 0.7rem;
  }
}
